body{
    text-align: center;

    
}
form{
    text-align: center;
    background-color: hwb(189 85% 6%);
    max-width: 350px;
    margin: auto;
    font-size: 1.5em;
}
#submit{
    background-color: rgba(213, 8, 118, 0.942);
    padding: 5px 10px;
    cursor:pointer;
    border-radius: 5px;
}
#submit:hover{
  background-color: blueviolet;
}